
.post-body {
	font-size: 18px;
	/*margin-bottom: 5px;*/
}

.read-more {
	font-size: 14px
}

#comment-section {
	margin-top: 20px;
	margin-left: -15%;
	margin-right: -15%;
	margin-bottom: -10%;
	/*background-color: #E8E8EE;*/
}

#comment-section h3 {
	margin-top: 5px;
}
