
<div class="row">
    <h1>Ten Books to read while taking over the world</h1>
</div>
<div class="row">
    <p><a href="#">Jon Church</a> / 8/12/2016</p>
</div>
<div class="row" id="post-body">
    <p>
        Pasta ipsum dolor sit amet linguine creste di galli mafaldine cavatappi fagioloni trenne sacchettini trenne ditalini spaghetti alla chitarra trennette. Tuffoli sorprese mezzani pasta rotini spaghetti lumaconi corzetti occhi di lupo fettucelle pici. Trenne calamarata trennette pennoni sorprese tortiglioni gomito pasta al ceppo spiralini fusilli lunghi bavettine ricciolini bavette.
        <br> Pappardelle rotini agnolotti ricciolini perciatelli lumaconi agnolotti bavettine. Penne zita capelli d'angelo trenette mezzani pasta fettucelle paccheri radiatori fusilli lunghi marziani fusilli lunghi tripoline sagne 'ncannulate lumache lanterne. Spaghettini mezzelune maltagliati ricciolini spaghetti alla chitarra fusilli bucati linguettine campanelle torchio penne lisce stringozzi fusilli bucati ricciutelle trenne.
        <br> Perciatelli casarecce casarecce cavatappi pasta al ceppo spaghettoni quadrefiore farfalline. Rotini mezzani pasta ricciolini rigatoni fiorentine quadrefiore vermicelli mezzelune gemelli penne rigate orecchiette mafalde tortelloni lanterne pizzoccheri acini di pepe. Creste di galli fettucelle gemelli linguettine elicoidali creste di galli lanterne spirali ziti spaghetti gigli lanterne. Acini di pepe ricciolini perciatelli fettuccine sacchettoni gnocchi spaghetti conchiglie penne. Gomito pillus mezzelune campanelle fusilli rigatoni orzo timpano. Spirali campanelle lumache farfalle elicoidali casarecce maccheroncelli sagne 'ncannulate mezzelune pappardelle rotini sagne 'ncannulate lanterne ricciolini manicotti. Agnolotti trenne linguettine acini di pepe mezzelune fiori.
        <br> Linguettine gemelli lasagne vermicelloni perciatelli rigatoncini corzetti capellini sacchettini tortelloni maltagliati. Mafalde sacchettoni conchiglioni maccheroncelli spaghetti orecchiette farfalle tripoline sorprese creste di galli penne maltagliati capelli d'angelo mostaccioli bavette stringozzi. Lasagnotte gemelli elicoidali croxetti mezzi bombardoni. Orecchiette ricciutelle taglierini fettucelle pennoni. Cavatappi campanelle sagne 'ncannulate maltagliati tripoline bavettine stringozzi fusilli bucati taglierini fedelini gnocchi gramigna tortellini.
        <br> Mafaldine fettucelle bucatini rigatoncini sagne 'ncannulate mezzani pasta agnolotti manicotti linguine. Calamaretti fagioloni gigli stringozzi tortelloni. Maltagliati occhi di lupo cannelloni marziani fusilli bucati foglie d'ulivo gemelli farfalle conchiglioni fiori mostaccioli orecchiette farfalline casarecce gemelli spaghettini. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, eaque, adipisci. Aliquam quaerat animi aperiam, quasi magnam, beatae quibusdam consequuntur adipisci atque tempora laudantium nulla blanditiis non voluptates natus ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique nesciunt, vitae soluta sunt eligendi autem mollitia consequuntur vero. Quidem id dolore, nam ad obcaecati inventore, reprehenderit accusantium error facere.
    </p>
</div>
<div class="row well" id="comment-section">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Write a response</h3>
        <div class="form-group">
            <div class="col-sm-4 ">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Write a response...">
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
    	<p>Jon Commenter</p>
    	<p>What a real good blog you have over here wowzies! I don't even have anything terrible to say this time!</p>
    </div>
</div>
</div>

