<p>profile page</p>
<div class="row">
<h2 class="text-center">Jon Church</h2>
			</div>

	<div class="col-sm-10 col-sm-offset-1">

		<img class="" src="http://www.placehold.it/300" alt="">
	</div>
	
	

<div class="row">
<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1" style="margin-top: 20px; box-shadow: 0 1px 4px rgba(0,0,0,.2); min-height: 150px">
				<div class="col-sm-12">
				<h3><a style="text-decoration: none; color: inherit" href="#">Ten Books to Read While Taking over the World</h3></a>
				<p style="margin-top: -5px"><a href="#">Jon Church</a> 8/12/2016</p>
				</div>
				<div class="col-sm-12">
					
				</div>
				<a style="text-decoration: none; color: inherit" href="#"><div class="col-sm-12 post-body">
				<p>
					This is a snippet of the body. It is a teaser which gives you a few lines to read from the original text, but right before it gets to the good stuff it starts to reel you in by giving you all these little...
					</p></a>
				</div>
				<div class="col-sm-4" style="margin-bottom: 15px">
					<a href="#" class="read-more" >Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
